
img{
  width: 100%;
}

h1{
  font-family: 'Mitr', sans-serif;
  color: #0c4da2;
}

h3{
  font-family: 'Mitr', sans-serif;
  color: #0c4da2;
}

h5{
  font-family: 'Pridi', serif;
}

h6{
    font-family: 'Mitr', sans-serif;
}
  